<h1> Witaj w mym sklepie! </h1>

<h2> Produkty: </h2>
<table>
	<% @products.each do |p| %>
		<tr> 
			<td><%= p.name %></td>
			<td><%= link_to "szczegóły", p %>
		</tr>
	<% end %>
</table>
